{% extends "base.html" %}

{% block content %}
</br>
<div class="list">
	<h2>Список профессий</h2>
	{% if list == 'ul' %}
	<ul>
		<li>Инженер-исследователь</li>
		<li>пилот</li>
		<li>строитель</li>
		<li>экзобиолог</li>
		<li>врач</li>
		<li>инжеренер по терроформированию</li>
	</ul>
	{% elif list == 'ol' %}
	<ol>
		<li>Инженер-исследователь</li>
		<li>пилот</li>
		<li>строитель</li>
		<li>экзобиолог</li>
		<li>врач</li>
		<li>инжеренер по терроформированию</li>
	</ol>
	{% else %}
	<h1 class='alert-danger'>Неверный параметр</h1>
	{% endif %}
</div>
{% endblock %}