{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Works log</h1>
{% for item in news%}
<div class="col-12">
    <h2>{{item.title}}</h2>
    <div class="row alert-dark"> 
    <div class='col-4 align-middle'>
        Title of activity
    </div>
    <div class='col-2'>
        Team leader
    </div>
    <div class='col-1'>
        Duration
    </div>
    <div class='col-3'>
        List of collaborators
    </div>
    <div class='col-2'>
        Is finished
    </div>
    </div>

</div>
{% endfor %}
{% endblock %}